<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="#">CAR<span>SCOUT</span></a>
        </div>

        <div class="nav-links">
            <a href="#" class="nav-link-item">Used Cars</a>
            <a href="#" class="nav-link-item">New Cars</a>
            <div class="auth-buttons">
                <a href="{% url 'login' %}" class="login-link">Login</a>
                <a href="{% url 'signup' %}" class="btn-signup">Sign Up</a>
            </div>
        </div>
    </div>
</nav>